:root {
    --cor0: rgb(27, 163, 255);
    --cor1: rgb(27, 255, 233);
    --cor2: rgb(27, 255, 119);
    --cor3: rgb(27, 49, 255);
}

body{
    background-color: var(--cor1);
}
header {
    text-align: center;
    color: var(--cor2);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
    margin-top: -20px;
    background-image: linear-gradient(to top, var(--cor3), var(--cor1));
}
header > img {
    display: block;
    position: absolute;
    right: 150px;
    margin-top: -50px;
}
main {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.546);
    width: 900px;
    height: 600px;
    margin: auto;
}
div.corpo {
    margin-left: 5px;
    text-align: justify;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.578);
}
div > p {
    text-indent: 30px;
    margin: 15px;
}
div.corpo > img {
    width: 100%;
}
video {
    display: block;
    position: relative;
    margin-top: -380px;
    left: 550px;
    width: 200px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.543);
}
aside{
    display: block;
    position: relative;
    left: 555px;
    margin-top: 50px;
}
aside h1 {
    display: block;
    position: relative;
    left: 50px;
    width: 200px;
    text-align: center;
    color: var(--cor2);
    border-radius: 15px;
    background-color: var(--cor3);
}
div > picture {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--cor0), var(--cor1));
}
footer {
    display: block;
    width: 200px;
    margin: -15px auto auto auto;
    text-align: center;
    background-color: var(--cor3);
}