@charset "UTF-8";

body {
    font-family: 'work sans',Arial, Helvetica, sans-serif;
    /*Medidas Absolutas
    cm, mm, in(polegada), *px*, pt, pc
    
    Medidas Relativas
    *em*, ex, rem, vw, vh, %
    16px = 1em
    
    Pesos das letras (weight)
    lighter, normal, bold, bolder ou (100 - 900)*/
    font-size: 1em;
}
h1{
    font: italic bolder 3em 'Work sans', sans-serif;
}
/*Shorthand (font)
font-style, font-weight, font-size, font-family*/

h2 {
    font: bolder 2em 'Work';
}